form{
	display:table;
	width:100%;
}
form .field{
	display:table-row;
}
form .field:hover > *{
	background-color:#eee;
}
form .label,
form .input{
	display:table-cell;
	width:50%;
	vertical-align:top;
	padding:20px 0 5px 0;
	border-bottom:1px solid #ccc;
}
label{
	cursor:pointer;
}
